<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Output</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ wrongName }}</td>
                    <td> capitalized </td>
                    <td>{{ wrongName | capitalized }}</td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td> uppercase </td>
                    <td>{{ name | uppercase }}</td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td> lowercase </td>
                    <td>{{ name | lowercase }}</td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td> slice:3 </td>
                    <td>{{ name | slice:3 }}</td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td> slice:0:3 </td>
                    <td>{{ name | slice:0:3 }}</td>
                </tr>
                <tr>
                    <td>{{ array }}</td>
                    <td> slice:1:5 </td>
                    <td>{{ name | slice:1:5 }}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td> number:'3.0-0' </td>
                    <td>{{ PI | number:'3.0-0' }}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td> number:'.0-2' </td>
                    <td>{{ PI | number:'.0-2' }}</td>
                </tr>
                <tr>
                    <td>{{ percentege }}</td>
                    <td> percent </td>
                    <td>{{ percentege | percent }}</td>
                </tr>
                <tr>
                    <td>{{ percentege }}</td>
                    <td> percent:'2.2-2' </td>
                    <td>{{ percentege | percent:'2.2-2' }}</td>
                </tr>
                <tr>
                    <td>{{ salary }}</td>
                    <td> currency </td>
                    <td>{{ salary | currency }}</td>
                </tr>
                <tr>
                    <td>{{ salary }}</td>
                    <td> currency:'EUR' </td>
                    <td>{{ salary | currency:'EUR' }}</td>
                </tr>
                <tr>
                    <td>{{ salary }}</td>
                    <td> currency:'USD':'symbol-narrow':'.0-0' </td>
                    <td>{{ salary | currency:'USD':'symbol-narrow':'.0-0' }}</td>
                </tr>
                <tr>
                    <td>{{ promiseValue }}</td>
                    <td> async </td>
                    <td>{{ promiseValue | async }}</td>
                </tr>
                <tr>
                    <td>{{ date }}</td>
                    <td> date </td>
                    <td>{{ date | date }}</td>
                </tr>
                <tr>
                    <td>{{ date }}</td>
                    <td> date:'medium' </td>
                    <td>{{ date | date:'medium' }}</td>
                </tr>
                <tr>
                    <td>{{ date }}</td>
                    <td> date:'short' </td>
                    <td>{{ date | date:'short' }}</td>
                </tr>
                <tr>
                    <td>{{ date }}</td>
                    <td> date:'MMMM - dd' </td>
                    <td>{{ date | date:'MMMM - dd' }}</td>
                </tr>
                <td> {{ date }} </td>
                <tr>
                    <td> {{ date }} </td>
                    <td>
                        date:'MMMM - dd':'':'{{ language }}'
                        <br>
                        <button (click)="idioma='es'" class="mr-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en'" class="mr-1 btn btn-secondary">Inglés</button>
                        <button (click)="idioma='fr'" class="mr-1 btn btn-success">Francés</button>
                    </td>
                    <td> {{ date | date:'MMMM - dd':'':language }} </td>
                </tr>


                <tr>
                    <td>{{ name }}</td>
                    <td>
                        password:{{ activate }}
                        <br>
                        <button (click)="activate = !activate" class="btn btn-outline-primary mt-1">Show / Hide</button>
                    </td>
                    <td>{{ name | password:activate }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <h3 class="mt-4">Slice</h3>
            <ul>
                <li *ngFor="let item of array | slice:1:6">{{ item }}</li>
            </ul>
        </table>

        <h3 class="mt-4">JSON</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>{{ hero | json }}</pre>
            </div>
        </div>

    </div>
</div>

<h3 class="mt-4">SecureDom</h3>
<hr>
<div class="row mb-5">
    <div class="col">
        <iframe width="560" height="315" [src]="urlVideo | securedom" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<br><br><br>